DOMAIN=your-name.relay.blindport.com
ACME_EMAIL=you@example.com
BLINDPORT_BACKEND_URL=https://blindport.com
BLINDPORT_SUBSCRIPTION_ID=12312312-3123-4123-8123-123123123123
BLINDPORT_TOKEN_PATH=/etc/blindport/token
BLINDPORT_STATE_PATH=/var/lib/blindport
BLINDPORTD_IMAGE=ghcr.io/blindport/blindportd:latest
DOCKER_GID=999
